{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title> Technaponics</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'home/favicon-T.ico' %}">      
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/technaponics.css' %}"> 
</head>
<body>
<!-- Begin Navbar -->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a href="/home"><img src="{% static 'home/company_name.png' %}" class="logo" alt="Technaponics"></a>
            </div>

            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/grow">Grow</a></li>                  
                    <li><a href="/about">About</a></li>
                    <li><a href="/store">Store</a></li>             
                    <li><a href="/contact">Contact</a></li>
  
                </ul>
            </div>

        </div>
    </nav>
<!-- End Navbar -->
{% block content %}
{% endblock %}
<!-- Start Footer -->
    <footer class="footer" >
      <!-- Social Links -->
      <div class="footerList">
        <a href="https://www.facebook.com/Technaponics-LLC-198375103945236/"><i class="footerIcon fa fa-facebook-official fa-4x"></i></a>
        <a href="https://twitter.com/Technaponics"><i class="footerIcon fa fa-twitter fa-4x"></i></a>
        <a href="https://www.youtube.com/user/technaponics"><i class="footerIcon fa fa-youtube-play fa-4x"></i></a>           
        <a href="https://www.instagram.com/technaponics/"><i class="footerIcon fa fa-instagram fa-4x"></i></a>
      </div>
      <!-- End Social Links -->
      <!-- Copyright -->
      <p class="center grey"><span id="copyright_year"></span> &copy; Technaponics LLC. All rights reserved.</p>
      <!-- End Copyright -->
    </footer>
<!-- End Footer -->
<!-- Begin Javascript -->
    <script>
	    //Google Analytics
	    // (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	    // (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	    // m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	    // })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	    // ga('create', 'UA-87258853-1', 'auto');
	    // ga('send', 'pageview');

	    //Generate Copyright Year
	    var yr = new Date().getFullYear();
	    document.getElementById("copyright_year").innerHTML=yr;
    </script>
<!-- End Javascript -->
</body>
</html>