{% extends "home/header.html" %}
{% block content %}
{% load staticfiles %}
    <!-- Begin Top Banner -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 bannerTitle">
                Monolithic.<br>
                Fully Integrated.<br>
                All-In-One.<br>
                Grow Computers.<br><br>
                Powerful.<br>
                Easy to Use.<br>
                Scalable.<br> 
            </div>
            <div class="col-lg-8">
                <img src="{% static 'home/ENVI-1.jpg' %}" class="img-responsive" alt="ENVI Grow Computer" width="700">
            </div>
        </div>
    </div>
    <!-- End Top Banner -->
<br><br><br>
    <!-- Start Icons -->
    <div class="container-fluid">
        <div class="row text-center margin-bottom-60">
            <div class="col-md-3 md-margin-bottom-50">
                <i class="fa fa-tachometer fa-5x"></i>
                <h2 class="title-v3-md margin-bottom-10">Monitor</h2>
                <p>HD camera, leaf temperature, pH, EC, water temperature, CO2, R.H., ambient temperature, PAR, lux, infrared, RGB light lntensity, UVA, UVB, soil moisture (2x) &amp; temperature (2x), reservoir level</p>
            </div>
            <div class="col-md-3 flat-service md-margin-bottom-50">
                <i class="fa fa-cogs fa-5x"></i>
                <h2 class="title-v3-md margin-bottom-10">Control</h2>
                <p>Programmable outlets let you turn any appliance on and off from anywhere in the world.</p>
            </div>
            <div class="col-md-3 flat-service">
                <i class="fa fa-cubes fa-5x"></i>
                <h2 class="title-v3-md margin-bottom-10">Scale</h2>
                <p>Our control systems easily scale from your home garden up to large farms... <br>and beyond.  </p>
            </div>
            <div class="col-md-3 flat-service">
                 <i class="fa fa-spinner fa-5x"></i>
                <h2 class="title-v3-md margin-bottom-10">Profit</h2>
                <p>Armed with high resolution environmental data and over the internet controls, clock in your highest efficiency yet.</p>
            </div>
        </div>
    </div>
    <!-- End Icons -->
<br><br>
    <!-- Start Sytem Details -->
    <div class="container-fluid greyBanner">
        <div class="row">
            <div class="col-md-6 md-margin-bottom-50">
                <img class="img-responsive" style="max-height: 325px;" src="{% static 'home/ENVI-2.jpg' %}" alt="">
            </div>
            <div class="col-md-6">
                <h2>ENVI &nbsp;|&nbsp; Grow Computer</h2>
                <hr class="divider">
                <p>The Technaponics ENVI<sup>®</sup> is a monolithic grow computer offering a suite of environmental sensors and real time controls accessible on your phone, tablet, or computer from anywhere in the world.  The ENVI<sup>®</sup> is powerful and easy to use with a seamless plug &amp; play experience for any garden whether it be soil, hydroponic, or aeroponic.
                </p>
                <br>
                <div class="row">
                    <ul class="col-xs-6 list-unstyled lists-v1">
                        <li><i class="fa fa-leaf"></i><b> Controls &amp; Sensors</b></li>
                        <li><i class="fa fa-leaf"></i> HD Camera </li>                        
                        <li><i class="fa fa-leaf"></i> 8 Programmable Outlets</li>
                        <li><i class="fa fa-leaf"></i> pH, EC, Water &amp; Leaf Temperatures</li>
                        <li><i class="fa fa-leaf"></i> CO2, R.H. &amp; Ambient Temperature</li>
                        <li><i class="fa fa-leaf"></i> PAR, Lux, IR, RGB, UVA, UVB</li>
                        <li><i class="fa fa-leaf"></i> Soil Moisture (2x) &amp; Temperature (2x)</li>                      
                        <li><i class="fa fa-leaf"></i> Reservoir Level</li>                          

                    </ul>
                    <ul class="col-xs-6 list-unstyled lists-v1">

                        <li><i class="fa fa-leaf"></i><b> System Info</b></li>
                        <li><i class="fa fa-leaf"></i> Made in the USA</li>                        
                        <li><i class="fa fa-leaf"></i> 3-year warranty</li>
                        <li><i class="fa fa-leaf"></i> Free software updates</li>
                        <li><i class="fa fa-leaf"></i> Android, IoS, Windows Compatible</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
    </div>
    <!-- End Sytem Details -->
<br><br>
    <!-- Start Software Details -->
    <div class="container content height-500">
        <div class="row">
            <div class="col-md-6">
                <h2 class="title-v2">Technaponics | Software</h2>
                <hr class="divider"><br>
                <p>At the core of our technology is an advanced software that only needs a web browser and an internet connection to be up and running in minutes.</p><br>
                <p>Our intuitive web interface built on modern standards for speed and responsiveness, puts you in complete control of your garden from any device, anywhere in the world.</p><br>
                <p>Real time information on the environmental landscape in your garden enables you to fine tune your inputs and optimize your yield.</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="{% static 'home/ENVI-software.jpg' %}" alt="">
            </div>
        </div>
    </div>
    <!-- End Software Details -->
<br><br><br><br>
    <!-- Start Product Picture Row -->
    <div class="container-fluid greyBanner">
        <ul class="row picReelBanner">
            <li class="col-sm-3">
                <div class="hovereffect">
                    <img class="img-responsive"  style="max-height: 150px;" src="{% static 'home/ENVI-1.jpg' %}" alt="">
                    <div class="overlay">
                    	<h2>ENVI Grow Computer<br><br>Monolithic<br>Fully-Integrated<br>All-In-One</h2>
                    </div>
                </div>
            </li>
            <li class="col-sm-3">
                <div class="hovereffect">
                    <img class="img-responsive" style="max-height: 150px;" src="{% static 'home/ENVI-3.jpg' %}" alt="">
                    <div class="overlay">
                    	<h2>pH, EC, Water Temperature<br>Leaf Temperature<br>Soil Moisture &amp; Temp (2x)<br>Reservoir Level<br>8 Programmable Outlets<br>HD Camera</h2>
                    </div>
                </div>
            </li>
            <li class="col-sm-3">
                <div class="hovereffect">
                    <img class="img-responsive"  style="max-height: 150px;" src="{% static 'home/ENVI-4.jpg' %}" alt="">
                    <div class="overlay">
                    	<h2>Canopy Multi-Sensor<br><br>CO2, Temperature &amp; R.H.<br>PAR, Lux, IR, RGB, UVA, UVB</h2>
                    </div>
                </div>
            </li>
            <li class="col-sm-3">
                <div class="hovereffect">
                    <img class="img-responsive" style="max-height: 150px;" src="{% static 'home/ENVI-2.jpg' %}" alt="">
                    <div class="overlay">
                    	<h2>Made in the USA<br>3-Year Warranty<br>Free Software Updates</h2>
                    </div>
                </div>
            </li>
        </ul>
        <br>
    </div>
    <!-- End Product Picture Row -->
<br><br><br>
    <!-- Service Blcoks -->
    <div class="container-fluid sketchIconContainer">   
        <img class ="sketchIcon" src="{% static 'home/ENVI-sketch.jpg' %}" alt="Technaponics ENVI">
        <h2>ENVI</h2>
    </div>
    <div class="container">   
        <ul class="list-group">
            <li class="list-group-item">Monolithic Grow Computer</li>          
            <li class="list-group-item">Made in the USA</li>
            <li class="list-group-item">3-Year Warranty</li>
            <li class="list-group-item">Free Software Updates</li>
            <li class="list-group-item">Android, IoS, Windows Compatible</li>
            <li class="list-group-item">
                <a href='/grow' role="button" class="btn btn-secondary">Demo</a>
                <a href='/store' role="button" class="btn btn-primary">Purchase in 2017</a>
            </li>                
        </ul>
    </div>
    <!-- End Service Blocks -->
<br>
{% endblock %}