{% extends "home/header.html" %}
{% block content %}
<br><br>
    <!-- Start About Details -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 centerText">
                <hr class="divider">
                <br>
                <p>
                    Forged in heart of Portland Oregon, Technaponics is a manufacturer of smart, over the internet, all-in-one grow computers.
                    <br><br>
                    Offering high resolution, scientific grade environmental data to help fine tune inputs and maximize yields. 
                    <br><br>
                    We design quality, durable products that reduce labor, facilitate optimization, and cut down costs in any growing environment.                 
                 </p>
                 <br>
                <hr class="divider">
                <br>
            </div>
        </div>
        <br>
    </div>
    <!-- End About Details -->
{% endblock %}